{% extends 'site_base.html' %}
{% load i18n %}
{% load  staticfiles %}

{% block sidebar %}
    {% include 'mappingTool/main/sidebar.html' %}
{% endblock sidebar %}

{% block body %}
    {% include 'mappingTool/main/body.html' %}
{% endblock body %}

{% block scripts %}
    <script src="{% static 'mappingTool/mappingSettings.js' %}"></script>
    <script src="{% static 'mappingTool/mappingForm.js' %}"></script>
    <script src="{% static 'mappingTool/mappingLoad.js' %}"></script>
    <script src="{% static 'mappingTool/mappingEdit.js' %}"></script>
    <script src="{% static 'mappingTool/mappingInit.js' %}"></script>
{% endblock scripts %}

