{% load i18n %}
{% load  staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">

        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/dist/css/sb-admin-2.css' %}">

        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap/bower_components/font-awesome/css/font-awesome.min.css' %}">

        <!-- leaflet CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/draw/leaflet.draw.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/contextmenu/leaflet.contextmenu.css' %}"/>

        <title>{% trans 'Mapping' %}</title>

    </head>
    <body ng-app="app">
        <!-- Load leaflet Javascript -->
        <script src="{% static 'leaflet/leaflet.js' %} "></script>
        <script src="{% static 'leaflet/draw/leaflet.draw.js' %}"> </script>
        <script src="{% static 'leaflet/contextmenu/leaflet.contextmenu.js' %}"></script>
        <script src="{% static 'leaflet/styledLayerControl/styledLayerControl.js' %}"></script>

        <div id="wrapper" ng-controller="UserController as userCtrl">
            <div ng-controller="MappingController as mapCtrl">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    {% include 'mappingTool/main/head.html' %}
                    {% include 'mappingTool/main/sidebar.html' %}
                </nav>

                {% include 'mappingTool/main/body.html' %}
                {% include 'mappingTool/main/footer.html' %}
                {% include 'mappingTool/main/map.html' %}
            </div>
        </div>

        <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
        <!-- <script src="{% static 'jquery-2.1.4/jquery.jsontotable.min.js' %}"></script>-->

        <!-- Bootstrap JavaScript -->
         <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'startbootstrap/dist/js/sb-admin-2.js' %}"></script>
        <!-- leaflet JavaScript -->
        <script src="{% static 'leaflet/contextmenu/leaflet.contextmenu.js' %}"></script>
        <script src="{% static 'angular/angular.js' %}"></script>
        <script src="{% static 'angular/ngStorage.min.js' %} "></script>

        <!-- Personal scripts -->
        <script src="{% static 'mappingTool/urls.js' %}"></script>
        <script src="{% static 'mappingTool/auth.js' %}"></script>
        <script src="{% static 'mappingTool/app.js' %} "></script>
        <script src="{% static 'mappingTool/controllers.js' %} "></script>

    </body>
</html>
