{% load i18n %}
{% load  staticfiles %}
<script src="{% static 'leaflet/leaflet.js' %} "></script>
<script src="{% static 'leaflet/draw/leaflet.draw.js' %}"> </script>
<script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
<script src="{% static 'jquery-2.1.4/jquery.jsontotable.min.js' %}"></script>
<script src="{% static 'leaflet/contextmenu/leaflet.contextmenu.js' %}"></script>
<script src="{% static 'leaflet/styledLayerControl/styledLayerControl.js' %}"></script>
<script src="{% static 'mappingTool/mapping.js' %}"></script>
<script> initMapping() </script>
